
html {
  scroll-behavior: smooth;

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 86px;
  margin-left: auto;
  margin-right: auto;
}
header .container h1 {
  font-size: 40px;
  font-weight: normal;
  margin: 30px 85px;
  padding-bottom: 20px;
  border-bottom: 1px solid #b3b3b3;
}
header .container ul {
  list-style: none;
  position: absolute;
  display: flex;
  right: 259px;
  top: 29px;
}

header .container ul a {
  background-color: white;
  border: 1px solid gray;
  display: block;
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border-radius: 5%;
}


header .container ul li {
  padding: 10px;
}
header .container ul li button{
  background-color: white;
  padding: 10px;
  border: 1px solid gray;
  width: 70px;
  text-transform:  uppercase; 
  cursor: pointer;
  border-radius: 5%;
}
header .container ul li a:hover{
  color: white;
background-color: rgb(110, 110, 110);
}
header .container ul li button:hover{
  color: white;
  background-color: rgb(61, 138, 78);
}
#product_form {
  padding: 10px;
}

form p {
  font-size: 17px;
  position: relative;
  top: 58px;
  margin-bottom: 40px;
  padding-left: 191px;
}
form input {
  margin: 30px;
  display: flex;
  padding-left: 10px;
  font-size: 16px;
  width: 30%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #adadad;
  position: relative;
  top: -126px;
  left: 281px;
}
form p span {
  color: rgb(16, 85, 235);
}

.Switcher {
  position: relative;
  top: -120px;
  padding-left: 188px;
}
.Switcher label {
  padding-right: 18px;
  font-size: 18px;
}
.Switcher select {
  border: 1px solid #0000006b;
  width: fit-content;
  color: #000000;
  border-radius: 5px;
}

form .Switcher .hidden {
  width: 50%;
  padding: 10px;
  position: relative;
  bottom: -40px;
  left: 116px;
}

form .Switcher .hidden input{
  width: 50%;
  position: relative;
  top: -31px;
    left: 153px;
}
#hidden_div1 {
  display: none;
  background-color: #efefef;
}

#hidden_div1 p:nth-child(1),
#hidden_div2 p:nth-child(1)
{ 
  font-size: 16px;
  left: -108px;
  position: relative;
  top: 33px;
}
#hidden_div1 p:last-of-type ,
#hidden_div2 p:last-of-type
{ 
  top: 0;
  text-align: center;
  left: -83px;
  font-weight: bold;
}
#hidden_div2 {
  display: none;
  background-color: #efefef;
}
#hidden_div3 {
  display: none;
  background-color: #efefef;
  height: 400px;
}
#hidden_div3 .text {
  left: -114px;
  top: 0px;
  position: relative;
}
#hidden_div3 .text2 p {
  position: relative;
  top: -50px;
  text-align: center;
  font-weight: bold;
  left: -77px;
  
}
span.error{
  position: absolute;
  left: 735px;
  transform: translateY(-180px);
  color: #c90b0b;
}
span.error2{
  color: #c90b0b;
  position: relative;
  top: -47px;
  font-size: 17px;
  left: 219px;
}
span.error3{
  color: #c90b0b;
  position: absolute;
  left: 252px;
  transform: translateY(-56px);
}

footer{

  text-align: center;
  
  }
  hr.separator{
  
    margin-top: 75px;
    display: block;
    margin-left: 200px;
    margin-right: 274px;
  
  }
  footer p {
    margin-bottom: 10px;
      text-align: center;
      padding-top: 20px;
      font-size: 16px;
  }