
html{
scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  /* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
header .container h1{
    font-size: 40px;
    font-weight: normal;
    margin: 40px 43px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b3b3b3;
}
header .container ul {
    list-style: none;
    position: absolute;
    display: flex;
    right: 138px;
    top: 40px;
}
header .container ul a{
    background-color: white;
    border: 1px solid gray;
    display: block;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    border-radius: 9%;
}
header form .container ul a:hover{
    background-color: rgb(23, 112, 153);
    color: white;
}

header form .container ul button:hover{
background-color: rgb(187, 41, 41);
color: white;
}
header .container ul li {
    padding: 10px;
}

.products{
    padding: 40px;
    padding-left: 121px;
}
.products .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-gap: 20px;
    padding-right: 69px;
}
.products .container .box{
    border: 1px solid #818181;
    padding: 10px;
    text-align: center;
    border-radius: 4%;
    width: 218px;
}
.products .container input{
    position: relative;
    left: -88px;
    bottom: -2px;
}
.Deletebutton{
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
    display: block;
    width: 131px;
    height: 40px;
    text-transform: uppercase;
    border-radius: 5%;
}

.products .container .box .data p{
    line-height: 30px
}


footer{

text-align: center;

}
hr.separator{

  margin-top: 232px;
  display: block;
  margin-left: 130px;
  margin-right: 130px;

}
footer p {
  margin-bottom: 10px;
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}